 <footer>
                <p>&copy; Copyright 2015. Sutrix Group. All rights reserved.</p>
            </footer>
        </div> <!-- div .container -->

        <div data-popup-valid-form class="sm-overlay hidden">
            <div class="message-layer"><a class="close">X</a>
                <p>Cannot send your information, please try again</p>
            </div>
        </div>

        <div data-popup-send-mail class="sm-overlay hidden">
            <div class="message-layer">
                <p>You are writing to&nbsp;<span class="name-office">SUTRIX GROUP - HONG KONG</span></p>
                <div class="group-btn-mail">
                    <a href="javascript:void(0)" title="OK" class="btn btn-color" data-send-ok="data-send-ok">
                        <span>OK</span>
                    </a>
                    <a href="javascript:void(0)" title="Cancel" class="btn btn-color" data-send-cancel="data-send-cancel">
                        <span>Cancel</span>
                    </a>
                </div>
            </div>
        </div>
        <iframe name="upload-iframe" id="upload-iframe"></iframe>
        <script src="{{ tempale_root }}/js/script.js" defer=""></script>
        <!--[if lt IE 9]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
        <noscript>JavaScript is off. Please enable to view full site.</noscript>

        <script type='text/javascript' src='{{ tempale_root }}/js/wp-embed.mineb11.js?ver=4.4'></script>
        <script type='text/javascript'>
                    /* <![CDATA[ */
                    var icl_vars = {"current_language":"en", "icl_home":"http:\/\/sutrixgroup.com\/", "ajax_url":"http:\/\/sutrixgroup.com\/wp-admin\/admin-ajax.php", "url_type":"1"};
                    /* ]]> */
        </script>
        <script type='text/javascript' src='{{ tempale_root }}/js/sitepresseb11.js?ver=4.4'></script>