<header class="header" data-navigation>
                <div class="inner">
                    <a href="index.html" title="Sutrix Group" class="logo">
                        <img src="{{ tempale_root }}/images/logo.png" alt="Sutrix Group"/>
                    </a>
                    <div class="group">
                        <div class="language left visible-md-up">
                            <a href="fr/index.html"  title="FR">FR</a><a href="index.html" title="EN" class="active">EN</a><a href="ja/index.html"  title="日本語" >日本語</a>                        </div>
                        <div class="top-menu right">MENU                            <button type="button" title="MENU" data-target=".menu-wrapper" class="btn-menu">
                                <span class="line line-top"></span>
                                <span class="line line-middle"></span>
                                <span class="line line-bottom"></span>
                            </button>
                        </div>
                    </div>
                    <div id="menu-wrapper" class="menu-wrapper">
                        <span class="are-here">Sutrix Group</span>

                        <ul class="menu" data-scrollspy="">
                            <li><a href="#about" title="About" data-scroll-to>About</a></li><li><a href="#services" title="Services" data-scroll-to>Services</a></li><li><a href="#clients" title="Clients" data-scroll-to>Clients</a></li><li><a href="#technologies" title="Expertise" data-scroll-to>Expertise</a></li><li><a href="#management" title="Management" data-scroll-to>Management</a></li><li><a href="#contact" title="Contact" data-scroll-to>Contact</a></li></ul>

                        <ul class="menu link-page">
                            <li><a href="consulting.html" title="Sutrix Consulting">Sutrix Consulting</a></li>
                            <li><a href="solutions.html" title="Sutrix Solutions">Sutrix Solutions</a></li>
                        </ul>

                        <ul class="social">
                            <li><span class="text">Follow us</span></li>
                            <li><a href="https://www.linkedin.com/company/sutrix-group" target="_blank" title="Linkedin" class="link-icon follow-us"><span class="icon icon-linkedin"></span></a></li>
                        </ul>

                        <div class="language visible-xs visible-sm">
                            <a href="fr/index.html"  title="FR">FR</a><a href="index.html" title="EN" class="active">EN</a><a href="ja/index.html"  title="日本語" >日本語</a></div>
                    </div>
                    <div class="block-talk-us visible-sm-up">
                        <a href="#contact" title="Talk to us" class="talk-us" data-scroll-to="">
                            <span class="icon icon-question"></span><span>Talk to us</span>
                        </a>
                    </div>
                </div>
            </header>
